body {
    background-color: rgba(70, 130, 180, 0.5);
    background-size: 500px;
    font-family: 'Roboto', sans-serif;
}

.title {
    color: black;
}

.subtitle:hover {
    color: white;
}

#class-selector {
    color: teal;
}

li:first-child {
    color: green
}

li:first-child {
    color: green
}

#salah-king:visited {
    color:purple;
}

#salah-king:link {
    color: blue;
} */

textarea + button:hover {
    color: turquoise;
}

ul > li {
    color:blue
}

a[href] {
    background-color: orange;
}

img[src] {
    border: 10px solid black;
}

h2[class~=example-subtitle] {
    background: rgb(202, 50, 50);
}

#title {
    color: black;

}

.para-text {
    background: radial-gradient(circle, yellow 50%, black 20%, white 30%);
    font-size: 1vw;
}

.top-billin {
    text-decoration: overline;
}